absl-py==0.6.1
astor==0.7.1
astroid==2.0.4
audioread==2.1.5
bleach==1.5.0
certifi==2018.11.29
cycler==0.10.0
decorator==4.3.0
dill==0.2.8.2
gast==0.2.0
grpcio==1.14.1
h5py==2.8.0
html5lib==0.9999999
imbalanced-learn==0.4.3
isort==4.3.4
joblib==0.13.0
Keras==2.1.1
Keras-Applications==1.0.6
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
librosa==0.5.1
llvmlite==0.25.0
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.1.0
matplotlib==2.2.3
mccabe==0.6.1
mkl-fft==1.0.6
mkl-random==1.0.2
numba==0.40.0
numpy==1.15.0
pandas==0.23.4
protobuf==3.6.1
pygpu==0.7.6
pylint==2.1.1
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
resampy==0.2.1
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
Theano==1.0.3
tornado==5.1.1
typed-ast==1.1.0
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.10.11
